services:
  - type: web
    name: colobane-api
    env: node
    buildCommand: npm ci && npm run build
    startCommand: export NODE_ENV=production && npm run prisma:migrate && npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DIRECT_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ACCESS_TOKEN_SECRET
        sync: false
      - key: REFRESH_TOKEN_SECRET
        sync: false
      - key: PORT
        value: 10000
    autoDeploy: false
